$width: 7vw; // change me!
$speed: 500ms ease-in-out; // Speed me up or slow me down
$color: #dee; // change the hexagon colour

$hexFraction: 0.57894736842;
$fontSize: 1.0em;

.content {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;

    .hex {
        align-items: center;
        background-color: $color;
        cursor: pointer;
        display: flex;
        font-family: 'Sen', Arial, sans-serif;
        font-size: calc(#{$width/6});
        height: calc(#{$width} * #{$hexFraction});
        justify-content: center;        
        position: relative;
        text-align: center;
        transition: $speed;
        width: $width;

        &:before,
        &:after {
            background-color: inherit;
            content: "";
            left: 0;
            height: 100%;
            position: absolute;
            top: 0;
            transition: $speed;
            transform-origin: center center;
            width: 100%;
            z-index: -1;
        }
        &:hover:before {
            transform: rotate(60deg);
        }
        &:hover:after {
            transform: rotate(-60deg);
        }
    }
}